<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="name"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchName()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Cars List</h4>

    <p-table [value]="cars" [responsive]="true"
      [paginator]="true" [rows]="4" [totalRecords]="this.cars.length" #table>

      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr (mouseover)="setActiveCar(car, car.id)">
          <td>{{ car.name }}</td>
          <td>
            <a [routerLink]="['/cars', car.id]" pTooltip="Edit" tooltipPosition="top">
              <i class="pi pi-user-edit" style="font-size: 2rem"></i>
            </a>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentCar">
      <h4>Car</h4>
      <div>
        <label><strong>Name:</strong></label>
        {{ currentCar.name }}
      </div>
      <div>
        <label><strong>Make:</strong></label>
        {{ currentCar.make }}
      </div>
      <div>
        <label><strong>Year:</strong></label>
        {{ currentCar.year }}
      </div>
      <div>
        <label><strong>Color:</strong></label>
        {{ currentCar.color }}
      </div>
      <div>
        <label><strong>Price:</strong></label>
        {{ currentCar.price }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentCar.available ? "Available" : "Sold" }}
      </div>
    </div>
  </div>
</div>
