<!-- <nav class="navbar">

  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/dashboard">Dashboard</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/cars">Cars</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/add">Add new car</a></li>
  </ul>

</nav> -->

<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
        <button class="menu-icon" type="text" (click)="showingMenu = !showingMenu"
          pButton icon="pi pi-bars"
          style="background-color: transparent;
          border: none; outline: none;
          background-repeat: no-repeat;
          overflow: hidden;
          box-shadow: none;">
        </button>
      </div>
    </div>
  </div>
</nav>

<p-sidebar [(visible)]="showingMenu"
   position="right" [baseZIndex]="10000" [style]="{ width: '0'}">
  <ul class="navbar-menu">
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/dashboard">Dashboard</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/cars">Cars</a></li>
    <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/add">Add new car</a></li>
  </ul>
</p-sidebar>


