<div class="submit-form">
  <div *ngIf="!submitted">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="car.name"
        name="name"
      />
    </div>

    <div class="form-group">
      <label for="maker">Maker</label><br>
      <p-dropdown [options]="makers" [(ngModel)]="selectedMaker"
       placeholder="Select a Maker" optionLabel="name" [showClear]="true">
      </p-dropdown>
    </div>

    <div class="form-group">
      <label for="year">Year : {{ car.year }}</label>
      <p-slider [(ngModel)]="car.year" [min]="1960" [max]="2020"></p-slider>
    </div>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <div class="form-group">
          <label for="color">Color : {{ car.color }}</label>
          <input
            type="color"
            class="form-control"
            id="color"
            required
            [(ngModel)]="car.color"
            name="color"
          />
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <div class="input-group-prepend">
          <span class="input-group-text">&euro;</span>
        <input pInputText type="text" placeholder="0.00" currencyMask
          [options]="
          { prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
          class="form-control"
          id="price"
          required
          [(ngModel)]="car.price"
          name="price"
        />
      </div>
    </div>

    <button (click)="saveCar()" class="btn btn-success">Submit</button>
  </div>

  <!-- <div *ngIf="submitted">
    <h4>{{ car.name }} has been added successfully!</h4>
    <button class="btn btn-success" (click)="newCar()">Add</button>
  </div> -->
</div>
