<div *ngIf="currentCar" class="edit-form">
  <div class="container">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Car to update</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Name</label><br>
        <input type="text" pInputText name="name" [(ngModel)]="currentCar.name" style="width: 100%;">
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Maker: {{ selectedMaker ? selectedMaker.name : 'none'}}</label><br>
        <p-dropdown [options]="makers" [(ngModel)]="selectedMaker"
         placeholder="{{currentCar.make}}" optionLabel="name" [showClear]="true">
        </p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Year : {{ currentCar.year }}</label>
        <p-slider [(ngModel)]="currentCar.year" [min]="1960" [max]="2020" [style]="{'width':'100%'}"></p-slider>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Color : {{ currentCar.color }}</label>
            <input
              type="color"
              class="form-control"
              id="color"
              required
              [(ngModel)]="currentCar.color"
              name="color"
            />
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label for="price">Price</label>
        <div class="input-group-prepend">
            <span class="input-group-text">&euro;</span>
          <input pInputText type="text" placeholder="0.00" currencyMask
            [options]="
            { prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
            class="form-control"
            id="price"
            required
            [(ngModel)]="currentCar.price"
            name="price"
          />
        </div>
      </div>

      <div class="ui-g-12">
        <button class="ui-button-warning" pButton type="button" label="Update" (click)="updateCar()"></button>
      </div>

      <div class="ui-g-12">
        <button class="ui-button-danger" pButton type="button" label="Delete" (click)="deleteCar()"></button>
      </div>

      <div class="ui-g-12">
        <a routerLink="/cars">Back to car search</a>
      </div>

    </div>
  </div>
</div>
